@tailwind base;
@tailwind components;
@tailwind utilities;


body, .main-content {
    overflow: hidden;
}
.slideshow-container {
    height: auto; 
    position: relative;
    min-height: 250px;
}

.fade, .fade-active {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-active {
    opacity: 1;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.animated-button {
    transition: opacity 0.5s ease-in-out;
}

.slide-active {
    opacity: 1;
}

.next, .prev {
    width: 50px; 
    height: 50px;
    z-index: 20;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer;
}

.next {
    right: 10px; 
} .prev {
    left: 10px; 
}

.vertical-line {
    border: none;
    border-left: 1px solid rgb(156 163 175); /* Adjust the color and style as needed */
    height: auto; /* Adjust the height as needed */
    width: 0;
}

.button-top-class {
    position: absolute; /* or fixed, depending on your layout */
    top: 0; /* adjust as necessary */
    /* other styling as needed */
}
hr.solid {
    border-top: 1px solid #bbb;
  }

.main-content {
    min-height: calc(100vh - /* height of your footer */);
}

.side-content {
    overflow-y: auto;
}

.animated-button {
    background-color: rgb(209 213 219);
    width: 100%;
    height: 80%;
    margin-left: 0.5rem; /* 12px */
    margin-right: 0.5rem; /* 12px */
    margin-top: 0.25rem; /* 4px */
    margin-bottom: 0.25rem; /* 4px */
    border-width: 1px;
    border-color: rgb(209 213 219);
    border-radius: 0.25rem; /* 4px */
    transition: all 0.3s ease;
}
